<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar Visita</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/navbar.css" />
</head>

<body>
    <header>
        <%- include("components/navbar.ejs")%>
    </header>
    <article>
        <div class="center">
            <h2>Datos de Hogar</h2>
            <form action="/add_visita" method="POST">
                <label for="jh_name">Nombres Jefe de Hogar<input type="text" name="jh_name" id="jh_name"></label>
                <label for="jh_last_name">Apellidos Jefe de Hogar<input type="text" name="jh_last_name"
                        id="jh_last_name"></label>
                <label for="jh_rut">Rut Jefe de Hogar<input type="text" name="jh_rut" id="jh_rut"
                        placeholder="Ingrese rut sin puntos ni guion, si termina en “K” cámbielo por 1"></label>
                <label for="jh_age">Edad<input type="text" name="jh_age" id="jh_age"></label>
                <label for="jh_birthdate">Fecha nacimiento<input type="date" name="jh_birthdate"
                        id="jh_birthdate"></label>
                <label for="jh_nat">Nacionalidad<input type="text" name="jh_nat" id="jh_nat"></label>
                <label for="jh_marital_status">Estado civil<input type="text" name="jh_marital_status"
                        id="jh_marital_status"></label>
                <label for="jh_phone">Número de contacto<input type="text" name='jh_phone' id="jh_phone"></label>
                <label for="jh_email">Correo electrónico<input type="text" name='jh_email' id="jh_email"></label>
                <label for="jh_address">Dirección<input type="text" name='jh_address' id="jh_address"></label>
                <label for="jh_commune">Comuna<input type="text" name="jh_commune" id="jh_commune"></label>
                <button type="submit">Registrar hogar</button>
            </form>
        </div>
    </article>

    <!-- <%- include("components/footer.ejs")%> -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <% if(typeof alert !="undefined" ) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
                }).then(() => {
                    window.location = '/<%= ruta %>'
                })
        </script>
    <% } %>
</body>

</html>