<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
  </head>
  
  <body>
  <h1>Editar Usuario Inactivo</h1>

  <form action="/users/edit_inactive/<%= usuario.rut %>" method="POST">
    <label for="rut">RUT:</label>
    <input type="text" name="rut" value="<%= usuario.rut %>" required>

    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" value="<%= usuario.nombre %>" required>

    <label for="correo">Correo:</label>
    <input type="email" name="correo" value="<%= usuario.correo %>" required>

    <label for="contrasena">Contraseña:</label>
    <input type="password" name="contrasena" value="<%= usuario.contrasena %>" required>

    <label for="rol">Rol:</label>
    <input type="text" name="rol" value="<%= usuario.rol %>" required>

    <button type="submit">Guardar Usuario</button>
  </form>
</body>
</html>
