<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
  <%- include("components/navbar.ejs")%>

    <div class="center5">
      <h2>Historial</h2>
      <form action="/visit_history" method="POST">
        <label for="date_ini">Desde: <input type="date" name="date_ini" id="date_ini"></label>
        <label for="date_end">Hasta: <input type="date" name="date_end" id="date_end"></label>
        <button type="submit">Filtrar</button>
      </form>
    </div>

    <div class="center4">
      <table class="table table-bordered table-hover">
        <thead class="table-active">
          <tr>
            <td>N° visita</td>
            <td>Jefe de hogar</td>
            <td>Dirección</td>
            <td>Comuna</td>
            <td>Cel. Jefe de hogar</td>
            <td>Estado visita</td>

          </tr>
        </thead>
        <tbody>
            <% for(i of list_visi_usu){ %>
              <tr class="table-light">
                <td class="td_table">
                  <%= i['id'] %>
                </td>
                <td class="td_table">
                  <%= i['nombre'] %>
                    <%= i['apellidos'] %>
                </td>
                <td class="td_table">
                  <%= i['direccion'] %>
                </td>
                <td class="td_table">
                  <%= i['comuna'] %>
                </td>
                <td class="td_table">
                  <%= i['celular'] %>
                </td>
                <td class="td_table">
                  <%= i['estado'] %>
                </td>
              </tr>
            <% } %>
        </tbody>
      </table>
    </div>
</body>

</html>