<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignacion de visitas</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <header>
        <%- include("./navbar") -%>
    </header>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <td>n°</td>
                            <td>Dirección</td>
                            <td>Comuna</td>
                            <td>Cel. Jefe de hogar</td>
                            <td>Estado</td>
                            <td>Seleccionar</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(asistente of visdispo){ %>
                            <tr class="table-light">
                                <td>
                                    <%= asistente['id_visita'] %>
                                </td>
                                <td>
                                    <%= asistente['direccion'] %>   
                                </td>
                                <td>
                                    <%= asistente['comuna'] %>
                                </td>
                                <td>
                                    <%= asistente['celular'] %>
                                </td>
                                <td>
                                    <%= asistente['estado'] %>
                                </td>
                                <td><input type="checkbox" id="cbox1" value=""></td>

                            </tr>
                        <% } %>
                        <a href="https://www.google.com/maps/dir/<%= asistente['direccion'] %>"><button type="submit" class="btn btn-info">Generar ruta</button></a>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <form action="/add" method="POST">
                        <select name="asistentes" id="asistentes">
                            <option value="">Seleccione un asistente</option>
                            <% for(i of list_asis){ %>
                                <option value="<%= i['rut_usu'] %>">
                                    <%= i['nombre'] %>
                                </option>
                                <% } %>
                        </select>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</body>

</html>